@charset "UTF-8";

@media screen and (min-width: 1024px){
    span#burguer{
        display: none;
    }
    nav{
        display: block;
    }

    nav > ul > li{
        display: inline-block;
    }

    main{
        width: 50vw;
    }
}